:root {
  --clr-primary-200: hsl(31, 77%, 52%);
  --clr-primary-400: hsl(184, 100%, 22%);
  --clr-primary-900: hsl(179, 100%, 13%);

  /* paragraphs */
  --clr-neutral-100: hsla(0, 0%, 100%, 0.75);
  /* background, headings, buttons */
  --clr-neutral-300: hsl(0, 0%, 95%);

  --ff-primary: "Big Shoulders Display", cursive;
  /* buttons and p*/
  --ff-accent: "Lexend Deca", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: var(--clr-neutral-300);

  font-family: var(--ff-primary);
  text-align: left;
  margin: 4em 2em 0em 2em;
}

h1,
p {
  margin: 0;
  text-align: left;
}

img {
  display: block;
  max-width: 3.5em;
  padding-top: 2em;
}

.card {
  border-radius: 0.75em 0.75em 0.75em 0.75em;
}

h1 {
  font-size: 35px;
  color: var(--clr-neutral-300);
  padding-top: 1em;
}

p {
  font-size: 15px;
  font-family: var(--ff-accent);
  color: var(--clr-neutral-100);
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

button {
  background: var(--clr-neutral-300);
  font-family: var(--ff-accent);
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 4em;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.split {
  display: flex;
  flex-direction: column;
  padding: 0em 2em 2em 2em;
}

.container {
}

.bg-orange {
  background-color: var(--clr-primary-200);
  border-radius: 0.5em 0.5em 0 0;
}
.bg-orange button {
  color: var(--clr-primary-200);
}

.bg-dark-cyan {
  background-color: var(--clr-primary-400);
}

.bg-dark-cyan button {
  color: var(--clr-primary-400);
}

.bg-very-dark-cyan {
  background-color: var(--clr-primary-900);
  border-radius: 0 0 0.5em 0.5em;
}

.bg-very-dark-cyan button {
  color: var(--clr-primary-900);
}
