:root {
  --clr-primary-200: hsl(31, 77%, 52%);
  --clr-primary-400: hsl(184, 100%, 22%);
  --clr-primary-900: hsl(179, 100%, 13%);

  /* paragraphs */
  --clr-neutral-100: hsla(0, 0%, 100%, 0.75);
  /* background, headings, buttons */
  --clr-neutral-300: hsl(0, 0%, 95%);

  --ff-primary: "Big Shoulders Display", cursive;
  --ff-accent: "Lexend Deca", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 15px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
